ion-menu-button {
  color: var(--ion-color-dark);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.photo {
  margin: 10px 10px 10px 0px;
  height: 100px;
  width: 100px
}

.item-details {
  margin: 0;
  color: #8c8c8c;
  font-size: 13px;
}

.footer-row {
  background-color: #0C090A;
  // margin-left: -5px;
  // margin-right: -5px;
  // margin-bottom: -5px;
}

.footer-left {
  text-align: left;
  color: red;
  padding-left: 5px;
}

.footer-right {
  text-align: right;
  color: red;
  padding-right: 5px;
}

.form-list {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}