<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">Submitted Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated (ionInput)="filterList($event)" showCancelButton="never"></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="bg-color" fixed>
    <ion-item style="border-radius: 20px;">
      <ion-datetime [(ngModel)]="tempStartDate" slot="start" (ionChange)="showStartDate()" displayFormat="DD MMM YYYY"
        picker-format="DD-MMM-YYYY" placeholder="Select From Date"></ion-datetime>
      <ion-datetime [(ngModel)]="tempEndDate" slot="end" (ionChange)="showEndDate()" displayFormat="DD MMM YYYY"
        picker-format="DD-MMM-YYYY" placeholder="Select Until Date"></ion-datetime>
    </ion-item>
    <div class="ion-text-center">
      <ion-button color="light" style="color: black; text-align: center;" (click)="initSubmitted()">
        Search Submitted Form
      </ion-button>
    </div>
    <ion-list lines="full" class="form-list">
      <ion-item *ngFor="let item of arrlist | sort: {property: column, order: order}" (click)="openDetails(item.id)">
        <img class="photo" src="http://eticket.senheng.com.my/sh_ebs/uploads/{{item.img}}" alt="">
        <div>
          <h5 style="margin: 0;">{{item.brand}} {{item.model}}</h5>
          <p class="item-details">{{item.son}}</p>
          <p class="item-details">{{item.created}}</p>
        </div>
      </ion-item>
    </ion-list>


  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row class="footer-row">
    <ion-col (click)="sortOldest()" class="footer-left">
      Sort from Oldest
    </ion-col>
    <ion-col (click)="sortLatest()" class="footer-right">
      Sort from Latest
    </ion-col>
  </ion-row>
</ion-footer>
