.login-logo {
    padding: 20px 0 0 0;
    min-height: 200px;
    text-align: center;
  }
  
  .login-logo img {
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 20%;
    padding: 15px;
  }
  
  .list {
    margin-bottom: 0;
  }
  
  .form_class {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .login_form {
    margin: 50px;
  }
  
  .login_btn {
    text-align: center;
  }
  