<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu [swipeGesture]="false" contentId="main-content" >
      <ion-content>
        <ion-list lines="full">
          <!-- <ion-list-header>Menu</ion-list-header> -->
          <ion-header >
            <ion-toolbar>
              <ion-title style="text-align: left; padding-left: 16px;" class="ion-no-padding">Menu</ion-title>
            </ion-toolbar>
          </ion-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" detail="false" routerLinkActive="selected">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
