<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list lines="full" class="form-list">
      <ion-item class="tncDetails">
        <p><b>1. </b> In-warranty/manufacturer warranty will be carried out subject to warranty validity check by Senheng authorised person.</p>
      </ion-item>
      <ion-item class="tncDetails">
        <p><b>2. </b> For Product under manufacturer warranty, PlusOne® warranty or V-Care extended warranty, the warranty is only applicable for damage caused by normal use condition and specifically void if:<br>
          - Warranty seal is broken: - Product is beyond repair condition (oxidized, liquid immersed, physical damages & such other conditions as may be informed by Senheng): or<br>
          - Product has been opened, modified, tampered with or repaired or attempted to be opened, modified, tampered with or repaired by unauthorized person; or<br>
          - Product failure is caused by software being corrupted or Product being downloaded with incompatible software The warranties shall not apply if:<br>
          - Made void by any reason(s) above;<br>
          - Damaged by use with products not sold or licensed by manufacturer (including, for example, games and accessories not manufactured or licensed by manufacturer, and "pirated" games, etc.);<br>
          - Product used for commercial purposes (including, for example, rental, pay-per-use, etc.);<br>
          - Damaged by any external cause (including, for example, by being dropped, failure to follow instructions on operation etc.);<br>
          - Scratched, dented, etc. or shows other cosmetic damage; or - Repaired by anyone other than Senheng.<br></p>
      </ion-item>
      <ion-item class="tncDetails">
        <p><b>3. </b> Customer shall back up all data and delete anything which Customer deems confidential from the Product on his/her own efforts before sending/ releasing the Product to Senheng. Senheng will not be responsible for any data lost or disclosure.</p>
      </ion-item>
      <ion-item class="tncDetails">
        <p><b>4. </b> In the event of diagnostic/repair, the Product may be to factory mode without prior notice to Customer.</p>
      </ion-item>
      <ion-item class="tncDetails">
        <p><b>5. </b> Customer should collect the Product within thirty (30) days from the date of the repair completion notification. Senheng reserves its right to dispose the Product without further notice and liability to Customer if Customer fails to collect the Product within thirty (30) days from the date of repair completion notification. Product shall only be released in exchange of payment of invoice (if any) for non-warrantable parts, inspection and labour cost.</p>
      </ion-item>
      <ion-item class="tncDetails">
        <p><b>6. </b> Inspection cost, labour cost and parts replacement cost for any non-warrantable parts or Product is at the cost of the Customer.</p>
      </ion-item>
      <ion-item class="tncDetails">
        <p><b>7. </b> All accessories attached to or accompanying the Product and delivered to Senheng shall be at the risks of Customer and Senheng will not responsible for any loss or damage.</p>
      </ion-item>
      <ion-item class="tncDetails">
        <p><b>8. </b> Senheng and its employees, affiliates and sub-ctonractors will exercise reasonable care of the Product during possession of the Product; however neither Senheng or any of its employees, affiliates and/or sub-contractor will not responsible for the Product (save for the requested repair areas) or any scratches or cosmetic damage to the Product while carry out any inspection and repairing works.</p>
      </ion-item>
      <ion-item class="tncDetails">
        <p><b>9. </b> To the extent permitted by law, SENHENG IS NOT responsible FOR ANY INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES; ANY LOSS OF DATA, PRIVACY, CONFIDENTIALITY, OR PROFITS; OR ANY INABILITYTO USE YOUR Product or accessory. THESE EXCLUSIONS APPLY EVEN IF SENHENG HAS BEEN ADVISED OF THE POSSIBILITY OF THESE DAMAGES, AND EVEN IF ANY REMEDY FAILS OF ITS ESSENTIAL PURPOSE.</p>
      </ion-item>
      <ion-item class="tncDetails">
        <p><b>10. </b> By signing the declaration below, you consent to the disclosure and processing of your personal data by and confirm that you have obtained the consent of such persons to the disclosure of their personal data to Senheng and its employees, affiliates and sub-contractors and undertake to comply with all relevant privacy laws.</p>
      </ion-item>
      <ion-item class="tncDetails">
        <p><b>11. </b> For the purpose of this form, all reference to “Senheng" shall include Senheng Electric (KL) Sdn Bhd, its subsidiary companies, employees, authorised affiliates and sub-contractors.</p>
      </ion-item>

      
      
    </ion-list>

    <ion-list lines="full" class="form-list">
      <ion-item class="tncDetails">
        <ion-checkbox slot="start" color="danger"></ion-checkbox>
        <p style="padding-left: 12px;">I agree to the terms & conditions.</p>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
