.form-list {
  margin: 12px 5px 12px 5px;
  padding: 0;
  border: 1px solid lightgrey;
  border-bottom: none;
}

.tncDetails {
  font-size: 0.9em;
  color: black;
}

.smoothed {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
