<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">Pre-Diagnostic Declaration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="bg-color" fixed>

    <ion-list lines="full" class="form-list">
      <ion-item>
        <ion-input [(ngModel)]="formData.name" type="text" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formData.email" type="email" placeholder="Email Address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formData.contact" type="tel" placeholder="Contact Number" maxlength="12"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formData.brand" type="text" placeholder="Product Brand"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formData.model" type="text" placeholder="Product Model"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formData.sn" type="text" placeholder="Product Serial Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formData.imei" type="tel" placeholder="Product IMEI Number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-col>
          {{clooneprovider.branchCode}}*
        </ion-col>
        <ion-select [(ngModel)]="formData.docType" value="" interface="popover">
          <ion-select-option value="CSO/SSO" disabled>CSO/SSO</ion-select-option>
          <ion-select-option value="CSO">CSO</ion-select-option>
          <ion-select-option value="SSO">SSO</ion-select-option>
        </ion-select>
        <ion-col> 
          <ion-input [(ngModel)]="formData.son" type="tel" style="text-align: right;" maxlength="5" placeholder="eg: 12345"></ion-input>
          <!-- <ion-input [(ngModel)]="formData.son" (ionInput)="keypress($event)" style="text-align: right;" maxlength="5" placeholder="eg: 12345"></ion-input> -->
        </ion-col>
      </ion-item>
    </ion-list>
    
    <ion-list lines="full" class="form-list">

      <ion-item>
        <!-- TO WORDWRAP LONG STRING: class="ion-text-wrap" -->
        <ion-label class="ion-text-wrap">Can Switch On<br><p>Does the device able to switch on?</p></ion-label>
        <ion-select [(ngModel)]="formData.switchon" value="" interface="action-sheet">
          <ion-select-option value="true">Yes</ion-select-option>
          <ion-select-option value="false" >No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">Battery Charging Condition<br><p>Does the device’s battery and charger is in working condition?</p></ion-label>
        <ion-select [(ngModel)]="formData.battery" value="" interface="action-sheet">
          <ion-select-option value="true">Yes</ion-select-option>
          <ion-select-option value="false" >No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">SIM Card<br><p>Does SIM card and Memory card been removed from the device?</p></ion-label>
        <ion-select [(ngModel)]="formData.sim2" value="" interface="action-sheet">
          <ion-select-option value="true">Yes</ion-select-option>
          <ion-select-option value="false" >No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">OS ID<br><p>Does the device signed out from its OS ID? Example, Apple ID and Samsung ID</p></ion-label>
        <ion-select [(ngModel)]="formData.sim" value="" interface="action-sheet">
          <ion-select-option value="true">Yes</ion-select-option>
          <ion-select-option value="false" >No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">Factory Mode<br><p>In the event of diagnostic/repair, does customer agree that the device may set to factory mode?</p></ion-label>
        <ion-select [(ngModel)]="formData.factory" value="" interface="action-sheet">
          <ion-select-option value="true">Yes</ion-select-option>
          <ion-select-option value="false" >No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">Accessories<br><p>Is there any accessories attached?</p></ion-label>
        <ion-select [(ngModel)]="formData.accessories" value="" interface="action-sheet">
          <ion-select-option value="true">Yes</ion-select-option>
          <ion-select-option value="false" >No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="formData.accessories == 'true' ">
        <!-- <ion-input [(ngModel)]="formData.password" value="" type="text" placeholder="Password"></ion-input> -->
        <ion-textarea [(ngModel)]="formData.accessories_details" placeholder="Accessories Details" rows='5'></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">External Damage<br><p>Are there any sign of scratches, dented, or damages cause by external force?</p></ion-label>
        <ion-select [(ngModel)]="formData.dent" value="" interface="action-sheet">
          <ion-select-option value="true">Yes</ion-select-option>
          <ion-select-option value="false" >No</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <!-- <ion-label class="ion-text-wrap">Security<br><p>Does the device secured with password or pattern lock?</p></ion-label> -->
        <ion-label class="ion-text-wrap">Security<br><p>Does the device secured with password?</p></ion-label>
        <ion-select [(ngModel)]="formData.lock" value="" interface="action-sheet">
          <ion-select-option value="true">Yes</ion-select-option>
          <ion-select-option value="false" >No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="formData.lock == 'true' ">
        <!-- <ion-input [(ngModel)]="formData.password" value="" type="text" placeholder="Password"></ion-input> -->
        <ion-label class="ion-text-wrap">Lock Type<br></ion-label>
        <ion-select [(ngModel)]="formData.lockType" value="" interface="action-sheet">
          <ion-select-option value="1">Pattern</ion-select-option>
          <ion-select-option value="2" >Password</ion-select-option>
          <ion-select-option value="3" >Both</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="formData.lockType == '1' && formData.lock == 'true' " class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-button style="text-transform: none;" color="danger" size="small" (click)="openPattern()" fill="outline">
              Open Lock Pattern Pad
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <ion-item *ngIf="formData.lockType == '2' && formData.lock == 'true' ">
        <ion-input [(ngModel)]="formData.password" value="" type="text" placeholder="Password"></ion-input>
      </ion-item>

      <div *ngIf="formData.lockType == '3' && formData.lock == 'true' ">
        <div class="ion-text-center">
          <ion-row>
            <ion-col>
              <ion-button style="text-transform: none;" color="danger" size="small" (click)="openPattern()" fill="outline">
                Open Lock Pattern Pad
              </ion-button>
            </ion-col>
          </ion-row>
        </div>

        <ion-item>
          <ion-input [(ngModel)]="formData.password" value="" type="text" placeholder="Password"></ion-input>
        </ion-item>
      </div>
      

      <!-- TOP IMAGE -->
      <ion-card>
        <div style="padding-bottom: 20px; padding-top: 20px;" *ngIf="tempImageTop == '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding">
              <ion-icon name="albums"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center ion-no-padding">
              <ion-label>Top View</ion-label>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="tempImageTop !== '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding">
              <img style="max-height:200px; max-width: 200px; display: inline !important;" src="{{tempImageTop}}">
            </ion-col>
          </ion-row>
        </div>
        
        <ion-row>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('camera','top')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="camera"></ion-icon>                
                <span>Camera</span>
              </ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('gallery','top')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="images"></ion-icon>
                Gallery
              </ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- END OF TOP IMAGE -->

      <!-- BOTTOM IMAGE -->
      <ion-card>
        <div style="padding-bottom: 20px; padding-top: 20px;" *ngIf="tempImageBottom == '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding">
              <ion-icon name="albums"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center ion-no-padding">
              <ion-label>Bottom View</ion-label>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="tempImageBottom !== '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding">
              <img style="max-height:200px; max-width: 200px; display: inline !important;" src="{{tempImageBottom}}">
            </ion-col>
          </ion-row>
        </div>
        
        <ion-row>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('camera','bottom')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="camera"></ion-icon>                
                <span>Camera</span>
              </ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('gallery','bottom')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="images"></ion-icon>
                Gallery
              </ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- END OF BOTTOM IMAGE -->

      <!-- FRONT IMAGE -->
      <ion-card>
        <div style="padding-bottom: 20px; padding-top: 20px;" *ngIf="tempImageFront == '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding">
              <ion-icon name="albums"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center ion-no-padding">
              <ion-label>Front View</ion-label>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="tempImageFront !== '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding">
              <img style="max-height:200px; max-width: 200px; display: inline !important;" src="{{tempImageFront}}">
            </ion-col>
          </ion-row>
        </div>
        
        <ion-row>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('camera','front')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="camera"></ion-icon>                
                <span>Camera</span>
              </ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('gallery','front')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="images"></ion-icon>
                Gallery
              </ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- END OF FRONT IMAGE -->

      <!-- BACK VIEW IMAGE -->
      <ion-card>
        <div style="padding-bottom: 20px; padding-top: 20px;" *ngIf="tempImageBack == '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding">
              <ion-icon name="albums"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center ion-no-padding">
              <ion-label>Back View</ion-label>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="tempImageBack !== '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding">
              <img style="max-height:200px; max-width: 200px; display: inline !important;" src="{{tempImageBack}}">
            </ion-col>
          </ion-row>
        </div>
        
        <ion-row>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('camera','back')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="camera"></ion-icon>                
                <span>Camera</span>
              </ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('gallery','back')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="images"></ion-icon>
                Gallery
              </ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- END OF BACK VIEW IMAGE -->

      <!-- SIDE TOP RIGHT IMAGE -->
      <ion-card>
        <div style="padding-bottom: 20px; padding-top: 20px;" *ngIf="tempImageRight == '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding">
              <ion-icon name="albums"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center ion-no-padding">
              <ion-label>Side Top Right View</ion-label>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="tempImageRight !== '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding">
              <img style="max-height:200px; max-width: 200px; display: inline !important;" src="{{tempImageRight}}">
            </ion-col>
          </ion-row>
        </div>
        
        <ion-row>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('camera','right')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="camera"></ion-icon>                
                <span>Camera</span>
              </ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('gallery','right')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="images"></ion-icon>
                Gallery
              </ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- END OF SIDE TOP RIGHT IMAGE -->

      <!-- SIDE BOTTOM LEFT IMAGE -->
      <ion-card>
        <div style="padding-bottom: 20px; padding-top: 20px;" *ngIf="tempImageLeft == '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding">
              <ion-icon name="albums"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center ion-no-padding">
              <ion-label>Side Bottom Left View</ion-label>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="tempImageLeft !== '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding">
              <img style="max-height:200px; max-width: 200px; display: inline !important;" src="{{tempImageLeft}}">
            </ion-col>
          </ion-row>
        </div>
        
        <ion-row>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('camera','left')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="camera"></ion-icon>                
                <span>Camera</span>
              </ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('gallery','left')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="images"></ion-icon>
                Gallery
              </ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- END OF SIDE BOTTOM LEFT IMAGE -->

      <!-- ADDITIONAL IMAGE -->
      <ion-card>
        <div style="padding-bottom: 20px; padding-top: 20px;" *ngIf="tempExtraImage == '' ">
          <ion-row>
            <ion-col class="ion-text-center ion-no-padding">
              <ion-label>Upload Additional Image</ion-label>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="tempExtraImage !== '' ">
          <ion-row>
            <ion-col style="font-size: 25px;" class="ion-text-center ion-no-padding"
            *ngFor="let extra of tempExtraImage; let i=index" >
              <img style="max-height:200px; max-width: 200px; display: inline !important;" src="{{extra}}">
            </ion-col>
          </ion-row>
        </div>
        
        <ion-row>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('camera','extra')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="camera"></ion-icon>                
                <span>Camera</span>
              </ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col style="background-color: #6B6867;">
            <ion-tab-button (click)="imageFunction('gallery','extra')">
              <ion-label style="color: white; font-size: 20px;">
                <ion-icon style="padding-right: 10px;" name="images"></ion-icon>
                Gallery
              </ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- END OF ADDITIONAL IMAGE -->


        <div class="ion-text-center signature">
          <ion-row>
            <ion-col>
              <ion-label >Signature</ion-label>  
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col >
              <ion-button style="text-transform: none;" color="danger" size="small" (click)="openSignatureModal()" fill="outline">
                Open Signature Pad
              </ion-button>
            </ion-col>
          </ion-row>
          <div *ngIf="sign !== '' ">
            <img src="{{clooneprovider.signature}}" style="width: 300px !important; border: 1px solid !important;">
          </div>
        </div>

        <div class="ion-text-center">
            <ion-button style="text-transform: none;" size="small" (click)="opentTnc()" expand="block" fill="clear" >
              I agree to the Terms & Conditions
            </ion-button>
        </div>
        
        


      

    </ion-list>

    <div class="ion-text-center">
      <ion-button color="light" style="color: black; text-align: center;" (click)="submitForm()" >
        SUBMIT
      </ion-button>
    </div>
    
  </ion-grid>

</ion-content>
