<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let item of datalist">
    <ion-list lines="full" class="form-list" >
      <ion-item>
        <ion-label class="label">Name</ion-label>
        <p class="detailItems">{{item.name}}</p>
      </ion-item>
      <ion-item>
        <ion-label class="label">Contact</ion-label>
        <p class="detailItems">{{item.contact}}</p>
      </ion-item>
      <ion-item>
        <ion-label class="label">Email</ion-label>
        <p class="detailItems">{{item.email}}</p>
      </ion-item>
      <ion-item>
        <ion-label class="label">Brand</ion-label>
        <p class="detailItems">{{item.brand}}</p>
      </ion-item>
      <ion-item>
        <ion-label class="label">Model</ion-label>
        <p class="detailItems">{{item.model}}</p>
      </ion-item>
      <ion-item>
        <ion-label class="label">CSO</ion-label>
        <p class="detailItems">{{item.son}}</p>
      </ion-item>
      <ion-item>
        <ion-label class="label">Submitted Date</ion-label>
        <p class="detailItems">{{item.created}}</p>
      </ion-item>
    </ion-list>
  
    <ion-card *ngFor="let i of item.img">
      <ion-card-header class="card-header">
        <ion-card-subtitle class="card-subtitle">{{i.type}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content style="justify-content: center;">
          <img class="photo" src="http://eticket.senheng.com.my/sh_ebs/uploads/{{i.name}}" alt="">
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
