<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>Lock Pattern Pad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list class="form-list">
      <div class="list list-inset">
        <div class="ion-text-center"> 
          <ion-row>
            <ion-col>
              <div id="patternContainer"></div>
            </ion-col>
          </ion-row>
        </div>
      </div>
      
      
      <div class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-button class="ion-text-center" style="height: 34px; width: 100px;" color="danger" (click)="saveLockPattern()" >
              Save
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
  </ion-grid>
  
</ion-content>
